@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}
<body data-bs-spy="scroll" data-bs-target="#navbarExample">
<header id="header" class="header">
<div class="container">

    <div id="loginForm" class="position-absolute top-50 start-50 translate-middle">
        <p class="text-center" style="margin-top: -5px"><b>Login form</b></p>
        <form method="post">
            <div class="form-group">
                <label class="form-label">Username</label>
                <input type="text" class="form-control-input" id="login" name="Login" aria-describedby="login">
            </div>

            <div class="form-group">
                <label class="form-label">Password</label>
                <input type="password" class="form-control-input" id="password" name="Password">
            </div>
            <div id="login" class="form-text">We'll never share your data with anyone else.</div>
            <input type="button" class="btn-solid-lg" id="loginInAccount" value="Login">
        </form>
    </div>

    
</div>
</header>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</body>
<script>
        
        // отправка запроса к контроллеру ValuesController
        // async function getData(url) {
        //     const token = sessionStorage.getItem(tokenKey);
        //     const response = await fetch(url, {
        //         method: "POST",
        //         headers: {
        //             "Accept": "application/json",
        //             "Authorization": "Bearer " + token  // передача токена в заголовке
        //         }
        //     });
        //     if (response.ok === true) {
        //         
        //         const data = await response.json();
        //         alert(data)
        //     }
        //     else
        //         console.log("Status: ", response.status);
        // };
        
        // получаем токен
        document.getElementById('loginInAccount').addEventListener('click', x => {
            x.preventDefault();
            getTokenAsync();
            setTimeout(function() {
                window.location.href = "../Home"
            }, 1000)
        })
    </script>