@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<body data-bs-spy="scroll" data-bs-target="#navbarExample">
<header id="header" class="header">

<div class="mx-auto p-2">
    <div class="position-absolute top-50 mb-1 start-50 translate-middle">
        <h1 class="h1-large">
            Download your file, as archive
        </h1>
        <br/><br/>
        <div class="position-absolute start-50 translate-middle-x">
            <a type="button" class="btn-solid-lg" href='@Url.Action("DownloadFile", "Home")'>Download</a>
        </div>
    </div>
</div>
</header>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</body>
<script>
      
</script>